@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  :root{
    --primary-black: #1D1F21;
    --primary-orange: #FF6600;
    --primary-white: #FFFFFF;
    --secundary-white: #F5F5F5;
    --secundary-orange: #FF6600;
    --secundary-black: #444648;
  
  }


  body{
    box-sizing: border-box;
    background-color: var(--primary-black);
    color: var(--secundary-white);
  }